* {
  margin: 0;
  padding: 0;
}

/* ----------- Common Styles ----------- */
body {
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Urbanist", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px 0px;
}

.content-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  color: #bc0b0b;
  font-weight: 300;
  padding: 10px;
  font-weight: 600;
}

.content-title-bold {
  font-weight: 700;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
  .content-title {
    font-size: 28px;
  }
}

/* ----------- Home Page ----------- */

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(/images/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 4rem;
  background-color: white;
  box-shadow: 0 8px 8px -10px #000;
}

nav img {
  width: 100px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 0px;
}

.nav-links ul li a {
  padding: 8px 15px;
  color: #433f40;
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
.nav-links ul li a:after {
  content: "";
  border-radius: 25px;
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #bc0b0b;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}
.nav-links ul li a:hover {
  color: #fff;
}
.nav-links ul li a:hover:after {
  width: 110%;
}

nav .far,
nav .fas {
  display: none;
}

.text-box {
  width: 70%;
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  nav {
    padding: 0.5rem 1rem;
  }

  nav img {
    width: 70px;
  }

  .nav-links {
    position: absolute;
    background: #bc0b0b;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links ul {
    padding: 30px;
  }

  .nav-links ul li {
    padding: 12px 0px;
    display: block;
  }

  .nav-links ul li a {
    padding: 8px 10px;
    color: aliceblue;
  }

  nav .far {
    color: aliceblue;
  }

  nav .fas {
    color: #bc0b0b;
  }

  nav .far,
  nav .fas {
    display: block;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
  }

  .text-box {
    font-size: 35px;
  }
}

/* ----------- About Us ----------- */

.about p {
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}

@media (max-width: 700px) {
  .about {
    width: 85%;
  }

  .about p {
    font-size: 16px;
    padding: 10px;
  }
}

/* ---------- Projects ------------ */

.projects {
  background-color: #383838;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 10vw);
  grid-gap: 15px;
  padding: 10px 0;
  padding: 15px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 2s ease-out;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

.gallery-title {
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  padding-bottom: 10px;
  color: #808080;
}

.gallery-title span {
  font-size: 45px;
}

.gallery-item {
  border-radius: 4px;
  overflow: hidden;
}

.gallery-item {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.9));
  transition: filter 0.25s ease-in-out;
}
.gallery-item:hover {
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.9));
  cursor: pointer;
}

.gallery-item-5 {
  grid-column: 1;
  grid-row: 2/6;
}

.gallery-item-4 {
  grid-column: 2;
  grid-row: 1/6;
}

.gallery-item-3 {
  grid-column: 2;
  grid-row: 6/9;
}

.gallery-item-2 {
  grid-column: 1;
  grid-row: 6/9;
}

.gallery-item-6 {
  grid-column: 1/3;
  grid-row: 9/12;
}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
}

.gallery-content-details {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  width: 100%;
  bottom: 5%;
}

.gallery-content-details h3 {
  color: #fff;
  font-weight: 500;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.gallery-content-details p {
  color: #fff;
  font-size: 10px;
  padding: 5px;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 60px 20px;
  font-size: 30px;
}

.wrapper .author {
  padding-top: 20px;
  text-align: right;
  font-weight: 100;
  font-size: 1.5rem;
  font-style: italic;
}

@media only screen and (min-width: 1200px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 20px;
    padding: 10px 0;
  }

  .gallery-title {
    font-size: 70px;
  }

  .gallery-title span {
    font-size: 95px;
  }

  .gallery-item-2 {
    grid-column: 2;
    grid-row: 1/4;
  }

  .gallery-item-3 {
    grid-column: 3;
    grid-row: 1/4;
  }

  .gallery-item-4 {
    grid-column: 4;
    grid-row: 1/7;
  }

  .gallery-item-5 {
    grid-column: 1;
    grid-row: 2/7;
  }

  .gallery-item-6 {
    grid-column: 2/4;
    grid-row: 4/7;
  }

  .gallery-content-details h3 {
    font-size: 20px;
  }

  .gallery-content-details p {
    font-size: 15px;
  }

  .quotes .wrapper {
    width: 60%;
    padding: 80px;
    font-size: 30px;
  }

  .wrapper .author {
    font-size: 3rem;
  }
}
/* ---------- Clients ------------ */

.clients .container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px 0px;
}

.clients p {
  font-size: 32px;
  font-weight: 500;
  padding: 60px 20px;
}

@media (max-width: 700px) {
  .clients p {
    font-size: 24px;
  }
}

/* ---------- Contact Us ------------ */

#contact {
  background-color: #383838;
  padding: 20px;
}

#contact-left {
  text-align: left;
}

#contact-left h3,
#contact-right h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 700;
}

#contact-left p {
  color: #fff;
  margin-bottom: 30px;
  font-size: 18px;
}

#contact-left p strong {
  font-size: 17px;
}

#contact-info {
  background-image: url(..//img/world-map.png);
  background-repeat: no-repeat;
  background-size: contain;
}

address {
  color: #fff;
  font-size: 18px;
}

address strong,
#phone-fax-email strong {
  letter-spacing: 1px;
  font-size: 20px;
}

form .form-control {
  background: transparent;
  border-radius: 0;
  border-color: #fff;
  font-size: 20px;
  padding: 8px 16px;
  margin-bottom: 20px;
  color: #fff;
}

.btn-white {
  border-radius: 0;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 26px;
  border-color: #fff;
  color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  background: #fff;
  color: #41464b;
}

@media (max-width: 700px) {
  #contact-left p,
  address {
    font-size: 16px;
  }
}

/* ---------- Google Map ------------ */

.google-map iframe {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .google-map iframe {
    padding: 20px;
  }
}

/* ---------- Footer ------------ */
#footer-bottom {
  background-color: #383838;
  padding: 30px 0;
}

#footer-copyrights p {
  margin: 0;
  color: #fff;
  text-align: left;
}
